{
  "адресат": {{ addressee | tojson }},
  "данные_заявителя": {{ applicant_data | tojson }},
  "обстоятельства_дела": {{ case_circumstances | tojson }},
  "перечень_нарушений": {{ violations | tojson }},
  "ссылки_на_кс_рф": {{ ks_rf | tojson }},
  "правовое_обоснование": {{ legal_basis | tojson }},
  "просительная_часть": {{ prayer | tojson }},
  "дата": {{ date | tojson }},
  "подпись": {{ signature | tojson }}
}
